{{define "door"}}
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
      function insertPermission() {
        $.ajax({
          url: "/api/permissions",
          type: "POST",
          data: {doorKey: $("#permissionInsert-doorKey").val()}
        });
      }

      function updatePermission(userKey, doorKey, level) {
        $.ajax({
          url: "/api/permissions",
          type: "PUT",
          data: {userKey: userKey, doorKey: doorKey, level: level}
        });
      }

      function deletePermission(userKey, doorKey) {
        $.ajax({
          url: "/api/permissions?userKey=" + userKey + "&doorKey=" + doorKey,
          type: "DELETE"
        });
      }

      function insertDoor() {
        $.ajax({
          url: "/api/doors",
          type: "POST",
          data: {
            displayName: $("#doorInsert-displayName").val(),
            regId: $("#doorInsert-regId").val(),
            devId: $("#doorInsert-devId").val()
          }
        });
      }

      function deleteDoor(key) {
        $.ajax({url: "/api/doors?key=" + key, type: "DELETE"});
      }

      function openDoor(doorKey) {
        $.ajax({url: "/api/open", type: "POST", data: {doorKey: doorKey}});
      }

      $(document).ajaxSuccess(function (evt, xhr) {
        $("#response").text(JSON.stringify(xhr.responseText));
      });

      $(document).ajaxError(function (evt, jqxhr, settings, thrownError) {
        $("#response").text(thrownError);
      });
    </script>
  </head>
  <body>
    <h1>Permission Request</h1>
    <div>
      <input type="text" id="permissionInsert-doorKey" placeholder="Door Key"/>
      <button onclick="insertPermission();">Apply for Access</button>
    </div>

    <h1>Doors</h1>
    <ul>
      {{range .Doors}}
        <li>
          {{if .Openable}}
            <button onclick="openDoor('{{.Key}}');">Open</button>
          {{end}}
          {{if .Own}}
            <button onclick="deleteDoor('{{.Key}}');">Delete</button>
          {{end}}
          "{{.DisplayName}}" owned by
          {{if .Own}}me{{else}}"{{.OwnerDisplayName}}"{{end}}
          <br/>
          {{if .Own}}
            {{$dKey := .Key}}
            {{$own := .Own}}

            <h2>Pending Users</h2>
            <ul>
              {{range .PendingUsers}}
                <li>
                  <button
                      onclick="updatePermission('{{.Key}}', '{{$dKey}}', 1);">
                    Authorize
                  </button>
                  {{.DisplayName}}
                </li>
              {{else}}
                There are no pending users.
              {{end}}
            </ul>

            <h2>Opener Users</h2>
            <ul>
              {{range .OpenerUsers}}
                <li>
                  {{if $own}}
                    <button
                        onclick="deletePermission('{{.Key}}', '{{$dKey}}');">
                      Remove
                    </button>
                  {{end}}
                  {{.DisplayName}}
                </li>
              {{else}}
                There are no opener users.
              {{end}}
            </ul>
          {{end}}
        </li>
      {{else}}
        You don't have access to any doors.
      {{end}}
    </ul>

    {{if .Admin}}
      <h1>Admin Tools</h1>
      <h2>Door Creation</h2>
      <div>
        <input type="text" id="doorInsert-displayName" placeholder="Display Name"/><br/>
        <input type="text" id="doorInsert-regId" placeholder="Registration Id"/><br/>
        <input type="text" id="doorInsert-devId" placeholder="Device Id"/><br/>
        <button onclick="insertDoor();">Create Door</button>
      </div>

      <h2>Config</h2>
      <form action="/api/config" method="POST">
        <input type="text" name="apiKey" placeholder="Api Key"/>
        <button type="submit">Update</button>
      </form>
    {{end}}

    <h1>Response</h1>
    <pre id="response"></pre>
  </body>
</html>
{{end}}
